@model List<Member>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>MemberID</th>
        <th>UserName</th>
        <th>Roles</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.MemberID</td>
                <td>@item.UserName</td>
                <td>
                    <a href="/dashboard/member/role/@item.MemberID">Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>