<!DOCTYPE html>
<html lang="en"><head>
	<title> Example </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="~/vendor/bootstrap.js"></script>
	<script type="text/javascript" src="~/js/1.js"></script>
	<link rel="stylesheet" href="~/vendor/bootstrap.css">
  <link rel="stylesheet" href="~/css/register.css">
  <link rel="stylesheet" href="~/css/changepassword.css">
 	<link rel="stylesheet" href="~/vendor/font-awesome.css">
 	<link href="http://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
  <link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />           
</head>
<body >
    
        @RenderBody()
    
</body>
</html>
