<!DOCTYPE html>
<html lang="en"><head>
	<title> Example </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="~/vendor/bootstrap.js"></script>
	<script type="text/javascript" src="~/js/1.js"></script>

    <link rel="stylesheet" href="~/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="~/owlcarousel/assets/owl.theme.default.min.css">

	<link rel="stylesheet" href="~/vendor/bootstrap.css">
 	<link rel="stylesheet" href="~/css/1.css">
  <link rel="stylesheet" href="~/css/detailnews.css">
  <link rel="stylesheet" href="~/css/categorynews.css">
      <link rel="stylesheet" href="~/css/hotel.css">
    <link rel="stylesheet" href="~/css/flight.css">
  <link rel="stylesheet" href="~/css/order.css">
  <link rel="stylesheet" href="~/css/changepassword.css">
  @*<link rel="stylesheet" href="~/css/contact.css">*@
 	<link rel="stylesheet" href="~/vendor/font-awesome.css">
 	<link href="http://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
     <link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" />           
</head>
<body >
    @using System.Security.Claims

   <div class="topmenufull">
      <div class="container-fluid">
      <div class="row">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 topmenuleft">
            <ul>
                <li class="topdownmemnu">
                   <a href="#">
                      Hotline: <span>0868321730</span>
                  </a>
                </li>
            </ul>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 topmenuright">
            <ul>
               
                   
                @if (User.Identity.IsAuthenticated)
                    {
                       <li>
                            <a href="" title="" data-target="#exampleModal"  data-toggle="modal">
                                <small>@User.FindFirstValue(ClaimTypes.Name)</small>
                                <img src="~/images/person.jpg" alt="">
                       
                           </a>
                       </li>
                    }
                    else
                    {
                        @*<li><a href="/auth/register"><small>Register</small></a></li>
                        <li><a href="/auth/login"><small>Login</small></a></li>*@
                        
                    }         
            </ul>
         </div>
      </div>
   </div>
   </div>
  <!--  the end top menu -->
  <div class="slidebegin">
   		<div id="carousel-id" class="carousel slide" data-ride="carousel">
   	<ol class="carousel-indicators">
   		<li data-target="#carousel-id" data-slide-to="0" class="active"></li>
   		<li data-target="#carousel-id" data-slide-to="1" class=""></li>
   		<li data-target="#carousel-id" data-slide-to="2" class=""></li>
   	</ol>
   	<div class="carousel-inner">
   		<div class="item">
   			<img src="~/images/silde1.jpg" alt="">
   		</div>
   		<div class="item">
   			<img src="~/images/slide2.jpg" alt="">
   		</div>
   		<div class="item active">
   			<img src="~/images/slide2.jpg" alt="">
   		</div>
   	</div>
   	<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
   	<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
   </div>
   </div> <!-- end slide top -->
  
  <!-- dialog account -->
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <b aria-hidden="true">&times;</b>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">THÔNG TIN NGƯỜI DÙNG</h4>
        
      </div>
      <div class="modal-body">
        <div class="container">
           <div class="row bodymodalcontent">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>Tên người dùng:</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@User.FindFirstValue(ClaimTypes.Name)</p>
              </div>
              <!-- the end one info -->
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@*Địa chỉ:*@</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@*127 Trần Bá Giao*@</p>
              </div>
              <!-- the end one info -->
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>Địa chỉ email:</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@User.FindFirstValue(ClaimTypes.Email)</p>
              </div>
              <!-- the end one info -->
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@*ố điện thoại:*@</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@*089574830*@</p>
              </div>
              <!-- the end one info -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p>@*Trạng thái*@:</p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                 <p class="trangthai"><i>@*Đang hoạt động*@</i></p>
              </div>
           </div>
        </div>
      </div>
      <div class="modal-footer">
          <a class="btn btn-danger" href="/auth/logout">Logout</a>
        <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
        @*<button type="button" class="btn btn-danger">Thay đổi mật khẩu</button>*@
      </div>
    </div>
  </div>
</div>


    @{

        await Html.RenderPartialAsync("_PartialMenuBar",new ViewDataDictionary(ViewData){ { "TypeTour", ViewBag.typeoftours},{ "NewsCate", ViewBag.newscategories } });
       
    }
@*<div>
      <nav class="navbar navbar-default menutop" role="navigation">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header sizemin" style="">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div>
              <a class="navbar-brand" href="#"><img class="logo" src="~/images/logo6.PNG" alt="logo"></a>
            </div>
         </div>
   
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                <a href="#" class="dropdown-toggle downmenu" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">
                DU LỊCH
                </a>
                <ul class="dropdown-menu">
                     <li><a href="#">Du Lịch Trong Nước</a></li>
                     <li><a href="#">Du Lịch Nước Ngoài</a></li>
                </ul>
              </li>
               <li><a href="#">LIÊN HỆ</a></li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle downmenu" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="false">TIN TỨC</a>
                  <ul class="dropdown-menu">
                     <li><a href="#">Tin Khuyến Mãi</a></li>
                     <li><a href="#">Tin Tư Vấn</a></li>
                     <li><a href="#">Tour Du Lịch Hot Nhất</a></li>
                     <li><a href="#">Tour Du Mới Nhất</a></li>
                     <li><a href="#">Nhật Ký Du Lịch</a></li>
                     <li><a href="#">Cẩm Nang Du Lịch</a></li>
                  </ul>
               </li>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">GIỚI THIỆU</a>
                  <ul class="dropdown-menu">
                     <li><a href="#">Giới Thiệu Doanh Nghiệp</a></li>
                     <li><a href="#">Đăng Ký Tài Khoản</a></li>
                     <li><a href="#">Đăng Nhập Tài Khoản</a></li>
                  </ul>
               </li>

               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">NGÔN NGỮ</a>
                  <ul class="dropdown-menu">
                     <li><a href="#">Vietnamese</a></li>
                     <li><a href="#">English</a></li>
                  </ul>
               </li>
            </ul>
            
         </div><!-- /.navbar-collapse -->
      </div>
   </nav> <!-- end menu -->
</div>*@
   @RenderBody()
   


   <div class="footer">
   	<div class="container">
   		<div class="row footer1">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <p class="tencongty">
                            CÔNG TY TRÁCH NHIỆM HỮU HẠN DU LỊCH KỲ THÚ
                        </p>
                        <div class="thongtindoanhnghiep">

                            <p>
                                <b>Trụ sở:</b> &nbsp;
                                127 Trần Bá Giao
                            </p>
                        </div>
                        <div class="thongtindoanhnghiep">

                            <p>
                                <b>Điện thoại:</b>&nbsp;
                                0868321730
                            </p>
                        </div>
                        <div class="thongtindoanhnghiep">

                            <p>
                                <b>Website:</b>&nbsp;
                                dulichkythu.com
                            </p>
                        </div>
                        <div class="thongtindoanhnghiep">

                            <p>
                                <b>Email:</b> &nbsp;
                                speakerstai@gmail.com
                            </p>
                        </div>                    
                </div> <!-- end column 1 footer -->
   			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 right2 text-center">
   				<div class="gockhachhang khoangcachtren">
   					<p>Góc khách hàng</p>
   				</div>
   				<div class="noidunggockhachhang khoangcachtren">
   					<a href="/policy/chinhsachbaomat">Chính sách bảo mật</a>
   				</div>
   				<div class="noidunggockhachhang khoangcachtren ">
   					<a href="/policy/chinhsachdattour">Chính sách đặt tour</a>
   				</div>

   			</div><!-- end column 2 footer -->
   			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 right3 text-center">
   				<div class="gockhachhang">
   					<p>Chứng nhận</p>
   				</div>
   				<div class="noidunggockhachhang">
   					<a href="https://www.dmca.com/Protection/Status.aspx?ID=93cddc0b-8f84-4ce9-9b85-a9010fbf5c8d">
   						<img src="~/images/chungnhandmca.png" alt=""></a>
   				</div>
   				<div class="noidunggockhachhang">
   					<a href="http://online.gov.vn/Home/WebDetails/1977">
   						<img src="~/images/congthuong.png" alt=""></a>
   				</div>
   			</div><!-- end column 3 footer -->

   		</div> <!-- end row 1 in footer -->

   		<div class="row footer2">
   			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
   				<p class="dangkykinhdoanhtt1">
   				GIẤY PHÉP KINH DOANH DỊCH VỤ LỮ HÀNH QUỐC TẾ
   				</p>
   					<p class="dangkykinhdoanhtt2 ">
   					    Số GP/ No: 79-042/ 2019/ TCDL – GPLHQT
   					</p>
   					<p>
   						Do Tổng Cục Du Lịch cấp ngày 11/9/2019
   					</p>
   					<p class="dangkykinhdoanhtt4 ">
   						Số ĐKKD: 030 5448 565 được cấp bởi sở kế hoạch và đầu tư TP. Hồ Chí Minh.
   					</p>
   					<p>
   						Đăng ký lần đầu ngày 11/01/2008, Đăng ký thay đổi lần 05 ngày 26/10/2017
   					</p>
   			</div> <!-- end column 1 footer 2-->
   			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 right2 text-center">
   				<div class="ketnoivoicungtoi">
   					<p>Kết nối với chúng tôi</p>
   				</div>
   				<div class="iconketnoi">
   					<a href=""><span class="fa fa-facebook"></span></a>
   					<a href=""><span class="fa fa-twitter"></span></a>
   					<a href=""><span class="fa fa-youtube"></span></a>
   					<a href=""><span class="fa fa-video"></span></a>
   				</div>
   				
   			</div><!-- end column 2 footer -->
   			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 right3 text-center">
   				<div class="chapnhanthanhtoan">
   					<p>Chấp nhận thanh toán</p>
   				</div>
   				<div class="iconthanhtoan">
   					<span class="fa fa-university"></span>
   				</div>
   			</div><!-- end column 3 footer -->

   		</div> <!-- end row 2 in footer -->
   		<div class="row text-center footer3">
   			<p>Copyright © 2019 DU LỊCH VIỆT.
               Ghi rõ nguồn "dulichviet.com.vn" khi sử 
               dụng thông tin từ website này
           </p>
   		</div>
   	</div>
   </div><!-- end footer -->
    <script type="text/javascript" src="~/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/1.js"></script>
    <script src="~/vendor/jquery.min.js"></script>
    <script src="~/owlcarousel/owl.carousel.js"></script>   
        <script>
            $(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                margin: 11,
                nav: false,
                loop: true,
                responsive: {
                  0: {
                    items: 1.2
                  },
                  600: {
                    items: 2
                  },
                  1000: {
                    items: 3
                  }
                }
              })
            })
          </script>
</body>
</html>



