@model TypeOfTour
<form method="post">
    <div>
        <label>Type</label>
        <input type="text" asp-for="Type" class="form-control"/>
    </div>
    <div>
        <button class="btn btn-secondary">Create</button>
        <a href="/dashboard/typeoftour">Back to list</a>
    </div>
</form>