@model List<TypeOfTour>
<a class="btn btn-success" href="/dashboard/typeoftour/create">Create</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Detail</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model )
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Type</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a href="/dashboard/news/confirmdelete/@item.Id"><i class="fa fa-trash"></i></a>
                </td>
                    
                    
               
            </tr>

        }
    </tbody>
</table>