USE [master]
GO
/****** Object:  Database [DBWebTravel]    Script Date: 21/05/2022 15:19:39 ******/
CREATE DATABASE [DBWebTravel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBWebTravel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBWebTravel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBWebTravel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBWebTravel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBWebTravel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBWebTravel]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[Content] [ntext] NULL,
	[Image] [varchar](300) NULL,
	[Detail] [ntext] NULL,
	[Note] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[PolicyId] [varchar](64) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageTour]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageTour](
	[ImageId] [varchar](64) NOT NULL,
	[ImageUrl] [varchar](64) NULL,
	[ImageOriginal] [nvarchar](250) NOT NULL,
	[ImageContentType] [nvarchar](250) NULL,
	[Size] [bigint] NULL,
	[TourId] [varchar](64) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceId] [varchar](64) NOT NULL,
	[IncoiceDate] [datetime] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[MemberId] [varchar](64) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceId] [varchar](64) NOT NULL,
	[TourId] [varchar](64) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Payment] [int] NULL,
	[QuantityDepartment] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[PaymentMore] [bit] NULL,
	[FullName] [nvarchar](250) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberInRole]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInRole](
	[MemberID] [varchar](64) NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [varchar](64) NOT NULL,
	[UserName] [varchar](250) NULL,
	[FullName] [varchar](250) NULL,
	[Brithday] [datetime] NULL,
	[Gender] [varchar](64) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [varchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Password] [varchar](64) NOT NULL,
	[ConfirmedPhone] [bit] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[MetaTitle] [varchar](250) NULL,
	[Description] [ntext] NULL,
	[Code] [varchar](20) NULL,
	[Image] [varchar](300) NULL,
	[Detail] [ntext] NULL,
	[Note] [ntext] NULL,
	[NewCategoryId] [varchar](64) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[TopHot] [datetime] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsCategories]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsCategories](
	[NewsCategoryId] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[ParentId] [varchar](64) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[ShowOnHome] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewTags]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewTags](
	[NewsId] [varchar](64) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [varchar](64) NOT NULL,
	[Content] [ntext] NULL,
	[PolicyCategoryId] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyCategories]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyCategories](
	[Id] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [varchar](16) NOT NULL,
	[RoleDesciption] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourCategories]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourCategories](
	[TourCategoriesId] [varchar](64) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[ParentId] [varchar](64) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[TypeOfTourId] [varchar](64) NULL,
	[Status] [bit] NULL,
	[ShowOnHome] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourCategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourMembers]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourMembers](
	[MemberId] [varchar](64) NOT NULL,
	[TourId] [varchar](64) NOT NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[NumberTicket] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC,
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourId] [varchar](64) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MetaTitle] [varchar](250) NULL,
	[Code] [varchar](50) NULL,
	[Image] [varchar](50) NULL,
	[Schedule] [nvarchar](250) NULL,
	[Price] [decimal](18, 0) NULL,
	[PromotionPrice] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[DepartureDat] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[StartPlace] [nvarchar](250) NULL,
	[EndPlace] [nvarchar](250) NULL,
	[Transport] [nvarchar](250) NULL,
	[Detail] [ntext] NULL,
	[Note] [ntext] NULL,
	[CategoryId] [varchar](64) NULL,
	[ScheduleId] [varchar](64) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](250) NULL,
	[Status] [bit] NULL,
	[TopHot] [datetime] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourSchedules]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourSchedules](
	[TourScheduleId] [varchar](64) NOT NULL,
	[Content] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[TourScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfTours]    Script Date: 21/05/2022 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfTours](
	[Id] [varchar](64) NOT NULL,
	[Type] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NewsCategories] ([NewsCategoryId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [ShowOnHome]) VALUES (N'aufvei9v4nkmsw188l50zt7mvf5rl8wops7mlqpve4jono2k8xk09uqk5vjldar7', N'Tư vấn du lịch', N'tu-van-du-lich', N'tu-van-du-lich', NULL, CAST(N'2022-02-02T00:00:00.000' AS DateTime), N'Admin', CAST(N'2022-02-02T00:00:00.000' AS DateTime), N'Admin', 1, 0)
INSERT [dbo].[NewsCategories] ([NewsCategoryId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [ShowOnHome]) VALUES (N'lohnnj9cniycva1fvaw2vjmssqdt3ugdm4nnew9ou91o1beu3p3fp2zft9b44iyl', N'Tin khuyến mãi', N'du-lich-khuyen-mai', N'du-lich-khuyen-mai', NULL, CAST(N'2022-03-03T00:00:00.000' AS DateTime), N'Admin', CAST(N'2022-03-03T00:00:00.000' AS DateTime), N'Admin', 1, 0)
INSERT [dbo].[NewsCategories] ([NewsCategoryId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status], [ShowOnHome]) VALUES (N'okfve99v4nkmsw188l50zt7mvf5rl8wops7mlqpve4jono2k8xk09uqk5vjldar7', N'Nhật ký du lịch', N'nhat-ky-du-lich', N'nhat-ky-du-lich', NULL, CAST(N'2022-03-01T00:00:00.000' AS DateTime), N'Admin', CAST(N'2022-03-01T00:00:00.000' AS DateTime), N'Admin', 1, 0)
GO
INSERT [dbo].[TourCategories] ([TourCategoriesId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [TypeOfTourId], [Status], [ShowOnHome]) VALUES (N'33dlgatnzsqgmvjehw92uxih98zmqsskr06cpieu3nzff64heq9jjcwoc8zk1hbi', N'MIỀN BẮC', NULL, N'du-lich-mien-bac-du-lich-mien-bac', NULL, CAST(N'2022-05-17T20:09:19.000' AS DateTime), N'Admin', CAST(N'2022-05-17T20:09:19.000' AS DateTime), N'Admin', NULL, 1, 0)
INSERT [dbo].[TourCategories] ([TourCategoriesId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [TypeOfTourId], [Status], [ShowOnHome]) VALUES (N'aaxts3nn12rhdcoquhvf2t6y5xx9yk9qaku6f5dlq9xe64succh2iyvk2hp2gmzj', N'ĐÀ NẴNG', NULL, N'du-lich-mien-bac-du-lich-da-nang', N'33dlgatnzsqgmvjehw92uxih98zmqsskr06cpieu3nzff64heq9jjcwoc8zk1hbi', CAST(N'2022-05-17T20:09:04.000' AS DateTime), N'Admin', CAST(N'2022-05-17T20:09:04.000' AS DateTime), N'Admin', N'1s1wssh65m5b2jxa4jlcas7cxtlrvft9a87i8rqggfuz65fetk7i1pfhgyji4dpj', 1, 0)
INSERT [dbo].[TourCategories] ([TourCategoriesId], [Name], [SeoTitle], [MetaTitle], [ParentId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [TypeOfTourId], [Status], [ShowOnHome]) VALUES (N'alxts1nn11rhdcoquhvf2t6y5xx9yk9qaku6f5dlq9xe64succh2iyvk2hp2gmzj', N'HUẾ', NULL, N'du-lich-mien-nam-du-lich-hue', N'vvxts9nn83rhdcoquhvf2t6y5xx9yk9qaku6f5dlq9xe64succh9kyvk2hp2gmzj', CAST(N'2022-05-17T20:09:04.000' AS DateTime), N'Admin', CAST(N'2022-05-17T20:09:04.000' AS DateTime), N'Admin', N'1s1wssh65m5b2jxa4jlcas7cxtlrvft9a87i8rqggfuz65fetk7i1pfhgyji4dpj', 1, 0)
GO
INSERT [dbo].[TypeOfTours] ([Id], [Type]) VALUES (N'1s1wssh65m5b2jxa4jlcas7cxtlrvft9a87i8rqggfuz65fetk7i1pfhgyji4dpj', N'TRONG NƯỚC')
INSERT [dbo].[TypeOfTours] ([Id], [Type]) VALUES (N'8b3rg2y01g6flav24l4msqa4ffh4vmv1edvn6jc1ajbzfao4iw065v87f0mwssdq', N'NGOÀI NƯỚC')
GO
ALTER TABLE [dbo].[Abouts] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ImageTour] ADD  DEFAULT (newid()) FOR [ImageId]
GO
ALTER TABLE [dbo].[ImageTour] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [IncoiceDate]
GO
ALTER TABLE [dbo].[MemberInRole] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [ConfirmedPhone]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[NewsCategories] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[NewsCategories] ADD  DEFAULT ((0)) FOR [ShowOnHome]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [RoleID]
GO
ALTER TABLE [dbo].[TourCategories] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TourCategories] ADD  DEFAULT ((0)) FOR [ShowOnHome]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Abouts]  WITH CHECK ADD FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[ImageTour]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[MemberInRole]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[MemberInRole]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([NewCategoryId])
REFERENCES [dbo].[NewsCategories] ([NewsCategoryId])
GO
ALTER TABLE [dbo].[NewsCategories]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[NewsCategories] ([NewsCategoryId])
GO
ALTER TABLE [dbo].[NewTags]  WITH CHECK ADD FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsId])
GO
ALTER TABLE [dbo].[NewTags]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD FOREIGN KEY([PolicyCategoryId])
REFERENCES [dbo].[PolicyCategories] ([Id])
GO
ALTER TABLE [dbo].[TourCategories]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[TourCategories] ([TourCategoriesId])
GO
ALTER TABLE [dbo].[TourCategories]  WITH CHECK ADD FOREIGN KEY([TypeOfTourId])
REFERENCES [dbo].[TypeOfTours] ([Id])
GO
ALTER TABLE [dbo].[TourMembers]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[TourMembers]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TourCategories] ([TourCategoriesId])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[TourSchedules] ([TourScheduleId])
GO
/****** Object:  StoredProcedure [dbo].[AddInvoice]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- drop proc AddInvoice
create proc [dbo].[AddInvoice] (
	@InvoiceId varchar(64) ,
	@Address nvarchar(max) ,
	@MemberId varchar(64),
	@TourId varchar(64) ,
	@Price decimal(18,0),
	@Quantity smallint,
	@Paymentt int,
	@QuantityDepartment int,
	@Description nvarchar(max),
	@PaymentMore bit,
	@FullName nvarchar(250),
	@Phone varchar(50), 
	@Email varchar(250)
)
as 
	begin
	insert into Invoice(InvoiceId,Address,MemberId,Status) values (@InvoiceId,@Address,@MemberId,0);
	insert into InvoiceDetail(InvoiceId,TourId,Price,Quantity,Payment,QuantityDepartment,Description,PaymentMore,FullName,Phone,Email) values (@InvoiceId,@TourId,@Price,@Quantity,@Paymentt,@QuantityDepartment,@Description,@PaymentMore,@FullName,@Phone,@Email);
	end;
GO
/****** Object:  StoredProcedure [dbo].[AddMemberInRole]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--insert into MemberInRole values('1','D1E85FF0-5841-4E38-AA32-E9083FD4098B',0)

--drop proc AddMemberInRole
create proc [dbo].[AddMemberInRole] (
	@MemberId varchar(64),
	@RoleId uniqueidentifier
)
as
	begin
		if exists(select * from MemberInRole where MemberID = @MemberId and RoleID = @RoleId)
			update MemberInRole set IsDeleted = ~IsDeleted where MemberID = @MemberId and RoleID = @RoleId;
	else 
		insert into MemberInRole (MemberID,RoleID) values (@MemberId,@RoleId);
	end
GO
/****** Object:  StoredProcedure [dbo].[GetListCategoriesChildrent]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- drop proc GetListCategoriesChildrent
create proc [dbo].[GetListCategoriesChildrent](
	@CategoryId varchar(64)
)
as
	begin
		
		if iif((select ParentId from TourCategories where TourCategoriesid = @CategoryId) is null, 0,1)  = 0
			select * from TourCategories where ParentId = @CategoryId;
		else 
			select * from TourCategories where TourCategoriesId = @CategoryId;
	end;
GO
/****** Object:  StoredProcedure [dbo].[GetRoleNamesByMemberId]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec GetRolesChecked @Id = '1'
--select * from 
---
create proc [dbo].[GetRoleNamesByMemberId](@Id varchar(64))
as
	select RoleName from Roles join MemberInRole on Roles.RoleID = MemberInRole.RoleID and MemberID = @Id;
GO
/****** Object:  StoredProcedure [dbo].[GetRolesByMemberId]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- drop proc AddInvoiceDetail
--create proc AddInvoiceDetail(
--	@InvoiceId varchar(64) ,
--	@TourId varchar(64) ,
--	@Price decimal(18,0),
--	@Quantity smallint,
--	@Paymentt int,
--	@QuantityDepartment int,
--	@Description nvarchar(max),
--	@PaymentMore bit,
--  @Phone varchar(50)
--	@FullName varchar(250),
--	@Email varchar(250)
--)
--as
--	begin 
--		insert into InvoiceDetail values (@InvoiceId,@TourId,@Price,@Quantity,@Paymentt,@QuantityDepartment,@Description,@PaymentMore,@Phone,@FullName,@Email);
--	end;
--go
--exec AddInvoicedetail @InvoiceId = 'tln48i0ta3ycurar0nszb8dn6a9u0n2exneoc1t8vasm2n3phqtv9poiu08bo4tv', @TourId = '4taqszx7wskp83fefjo50nqq4fgb24zsb39ygy50fa9h840dote3yrptrpi9y7yo', @Price = 1 , @Quantity = 1, @Paymentt = 1 , @QuantityDepartment = 11, @Description = N'acb', @PaymentMore = 1
--delete Invoice
--delete InvoiceDetail
--exec AddInvoice @InvoiceId = 'dssfa', @Address = 'fafdfdsaf', @MemberId = '74yugzz8wax4ko7sl1m10ltt9l5rowjgmuanxkudao9fpeyp1v5y2tefnwo6nhn0'
--drop proc GetRolesByMemberId
create proc [dbo].[GetRolesByMemberId](@Id varchar(64))
as
	select Roles.RoleName from Roles join MemberInRole on Roles.RoleID = MemberInRole.RoleID and MemberInRole.MemberID = @Id;
GO
/****** Object:  StoredProcedure [dbo].[GetRolesChecked]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--drop proc GetRolesChecked
create proc [dbo].[GetRolesChecked](@Id varchar(64))
as
	select Roles.*,iif(MemberID is null,0,1) as Checked from Roles left join MemberInRole on Roles.RoleID = MemberInRole.RoleID and MemberId =@Id and IsDeleted=0;
GO
/****** Object:  StoredProcedure [dbo].[GetToursPaging]    Script Date: 21/05/2022 15:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from Tours
create proc [dbo].[GetToursPaging](@Page int, @Size int)
as
	begin

		select * from Tours
			order by TourId
			OFFSET (@Page-1)*@Size rows
			FETCH NEXT @Size ROWS ONLY;
	end;
GO
USE [master]
GO
