@model WebClient.Models.News

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="NewsId" class="control-label"></label>*@
                <input asp-for="NewsId" class="form-control" type="hidden" value=""/>
                @*<span asp-validation-for="NewsId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaTitle" class="control-label"></label>
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCategoryId" class="control-label"></label>
                <input asp-for="NewCategoryId" class="form-control" />
                <span asp-validation-for="NewCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CreatedDate" class="control-label"></label>*@
                <input asp-for="CreatedDate" type="hidden" value="@DateTime.Now" class="form-control" />
                @*<span asp-validation-for="CreatedDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ModifiedDate" class="control-label"></label>*@
                <input asp-for="ModifiedDate" type="hidden" value="@DateTime.Now" class="form-control" />
                @*<span asp-validation-for="ModifiedDate" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TopHot" class="control-label"></label>
                <input asp-for="TopHot" class="form-control" />
                <span asp-validation-for="TopHot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewCount" class="control-label"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
