@model List<TourSchedule>
<a asp-action="Create" class="btn btn-success">Create</a>
<table class="table table-bordered">
    <thead class="table-dark"> 
        <tr>
            <th>Tour Schedule ID</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
       {
           <tr>
               <td>@item.TourScheduleId</td>
               <td>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Content))</td>
           </tr>
       }
    </tbody>
</table>