
@{
    Layout = "_LayoutChangePassword";
}
@model ChangePassword
      <div class="changepassword">
        <div class="container">
          <div class="row khungtong">
            <div class="col-xs-10 col-xs-push-1 col-sm-10 col-ms-push-1 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3 taokhung">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 doimatkhau text-center">
                  <p>THAY ĐỔI MẬT KHẨU</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center baomat">
                  <p>
                    <i>
                      (Chúng tôi mong muốn mật khẩu của bạn an toàn hãy đặt mật khẩu có chữ và ký tự) <i class="sao">*</i>
                    </i>
                  </p>
                </div>
              </div>

              <div class="row">
                <form method="POST" asp-action="ChangePassword" >
                
                  <div class="form-group cangchinhform">
                     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform">
                         <label>MẬT KHẨU HIỆN TẠI:</label>               
                     </div>
                     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                         <input type="password" asp-for="OldPassword" name="matkhauhientai" placeholder="Mật khẩu hiện tại" class="form-control">
                     </div>
                     <!-- the end form 1 -->                                        
                  </div>
                  <div class="formgroup cangchinhform">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform">
                         <label>MẬT KHẨU MỚI:</label>               
                     </div>
                     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                         <input type="password" asp-for="NewPassword" name="matkhaumoi" placeholder="Mật khẩu mới" class="form-control">
                     </div>
                     <!-- the end form 2 -->
                  </div>
                  <div class="formgroup cangchinhform">
                     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform ">
                         <label>NHẬP LẠI MẬT KHẨU:</label>               
                     </div>
                     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                         <input type="password" asp-for="ConfirmPassword" name="nhaplaimatkhau" placeholder="Nhập lại mật khẩu" class="form-control">
                     </div>
                     <!-- the end form 3 -->
                  </div>
                  <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 text-right">
                    <a href="/home" class="btn btn-info huybo">HỦY BỎ</a>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 text-center">
                     <button type="submit" class="btn btn-primary luuthaydoi">LƯU THAY ĐỔI</button>

                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>