@using System.Security.Claims
@{
    Layout = "_LayoutChangePassword";
}
@model ChangePassword

<form asp-action="ChangePassword" method="POST">
    <div style="color: red; font-size:12px;" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <div class="form-group cangchinhform">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform">
            <label>MẬT KHẨU HIỆN TẠI:</label>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <input type="password" asp-for="OldPassword" placeholder="Mật khẩu hiện tại" class="form-control">
            <span style="color: red; font-size:12px;" asp-validation-for="OldPassword"></span>
        </div>
        <!-- the end form 1 -->
    </div>
    <div class="formgroup cangchinhform">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform">
            <label>MẬT KHẨU MỚI:</label>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <input type="password" asp-for="NewPassword" placeholder="Mật khẩu mới" class="form-control">
            <small style="color: red; font-size:12px;">@ViewBag.ErrorPassword</small>
            <span style="color: red; font-size:12px;" asp-validation-for="NewPassword"></span>
        </div>
        <!-- the end form 2 -->
    </div>
    <div class="formgroup cangchinhform">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tenform ">
            <label>NHẬP LẠI MẬT KHẨU:</label>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <input type="password" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="form-control">
            <small style="color: red; font-size:12px;">@ViewBag.ErrorPassword</small>
            <span style="color: red; font-size:12px;" asp-validation-for="ConfirmPassword"></span>
        </div>
        <!-- the end form 3 -->
    </div>
    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 text-right">
        <a href="/home" class="btn btn-info huybo">HỦY BỎ</a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 text-center">
        <button type="submit" class="btn btn-primary luuthaydoi">LƯU THAY ĐỔI</button>

    </div>
</form>