@{
    Layout = "_LayoutConfirmNumberPhone";
    
}
@model ConfirmNumberPhone

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 titlexacnhan text-center">
						<p>XÁC NHẬN THÔNG TIN</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sdtxacnhan text-center">
						<p>
							Bạn hãy lấy mã thông từ số điện thoại 
							(0983535<b class="mausdt">***</b>)
						</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<form action="" method="post">
							<div class="form-group">
								<label for="">Nhập mã:</label>
								<input type="text" name="nhapma" value="" class="nhapma">
								<button type="submit" class="guilaima">Gửi lại mã</button>
							</div>
							<button type="submit" class="btn btn-success gui">Gửi</button>
						</form>
					</div>
				</div>