@model Member
<form method="post" action="/auth/register">
     <div>
        <label>UserName</label>
        <input type="text" asp-for ="UserName"/>
    </div>
     <div>
        <label>Email</label>
        <input type="email" asp-for ="Email"/>
    </div>
     <div>
        <label>Phone</label>
        <input type="text" asp-for ="Phone"/>
    </div>
     <div>
        <label>Address</label>
        <input type="text" asp-for ="Address"/>
    </div>
     <div>
        <label>Passsword</label>
        <input type="text" asp-for ="Password"/>
    </div>
     <div>
        <button>Register</button>
    </div>
</form>