@model List<PolicyCategory>
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

<a asp-action="Create" class="btn btn-success">Create</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>

            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
       {
           <tr>

               <td>@item.Name</td>
               <td>
                   <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
               </td>
               <td>
                   <a href="/dashboard/policycategory/confirmdelete/@item.Id"><i class="fa fa-trash"></i></a>
               </td>
           </tr>
       }
    </tbody>
</table>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    $('.table').DataTable();
</script>