@model List<News>

    <link rel="stylesheet" href="~/css/hotel.css">
    <link rel="stylesheet" href="~/css/flight.css">
       <!-- Thong tin khach san -->
   <div class="motakhachsan">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <h2>Tin Tức</h2>
         </div>
       </div>
        <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <p class="danhgia">Đánh giá:</p>
         </div>
       </div>
        <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <p class="tinkhachsan">Tin tức Du lịch - Tin tức Du lịch 2022 cung cấp các thông tin Du lịch Việt Nam, Thông tin Du lịch Thế Giới, các Sự kiện Du lịch diễn ra trong ngày. Thông qua các bài viết được cập nhật liên tục, du khách có thể nắm bắt thêm được nhiều thông tin hữu ích về du lịch.</p>
         </div>
       </div>

       <!-- <div class="row hanglienhe">
         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
           <p class="social"><i class="fa fa-facebook"></i><a href="facebook.com">liên hệ facebook</a></p>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
           <p class="social"><i class="fa fa-envelope"></i><a href="facebook.com">liên hệ email</a></p>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 lienhe">
           <a href="£" class="btn btn-info">LIÊN HỆ ĐẶT VÉ MÁY BAY</a>
         </div>
       </div> -->
     </div>
   </div>

   

    <!--  Section -->
    
    <div class="row1">
      <div class="container">
      <div class="row">
          @foreach (var item in Model)
         {
             <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"  >
               <div class="thumbnail">
                   <a href="/news/detail/@item.NewsId"><div><img src="https://localhost:44384/images/@item.Image" alt=""></div></a>
                 
                 <div class="caption">
                   <a href="/news/detail/@item.NewsId"><h4>@*Khám phá chợ hoa Hồ Thị Kỷ - Thiên đường ẩm thực và hoa tươi ở Sài Gòn*@ @item.Name</h4></a>
                   <div class="eye">
                        
                            <p><span class="fa fa-calendar"></span>&nbsp; @*19/2/2021*@ @item.CreatedDate
                            &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                            </p>

                            </div>

                   <p class="content">
                     @*Chợ hoa Hồ Thị Kỷ chính là nét đẹp riêng biệt và độc đáo của người dân Sài Gòn. Nếu có dịp đến du lịch Sài Gòn, đừng quên ghé thăm và khám phá khu chợ*@
                    @item.Description  
                 </p>
               
                 </div>
               </div>
             </div> <!-- the end column1 row 1 -->
         }
         
         @*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news2.jpg" alt="">
             <div class="caption">
               <h4>Bỏ túi những mẹo vặt sức khỏe hữu ích dành cho bạn khi đi du lịch</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Các mẹo vặt sức khỏe dưới đây, Du Lịch Việt sẽ giúp cho bạn giữ gìn sức khỏe khi đi du lịch thật tốt để tận hưởng được chuyến đi nghỉ dưỡng này.
               </p>
               
             </div>
           </div>
         </div> <!-- the end column2 row 1 -->
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news3.jpg" alt="">
             <div class="caption">
               <h4>Khám phá vẻ đẹp hoang sơ cao nguyên Vân Hòa - Đà Lạt thứ 2 thu nhỏ tại Phú Yên</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cao nguyên Vân Hòa chính là nơi lý tưởng dành cho bạn vào những ngày cuối tuần đầy mệt mỏi để xả stress trong chuyến du lịch Phú Yên lần này. Cùng
               </p>
               
             </div>
           </div>
         </div> <!-- the end column3 row 1 -->
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news4.jpg" alt="">
             <div class="caption">
               <h4>HOLIDAY DEALs CÙNG PHILIPPINE AIRLINES</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến mãi giờ bay ít người di chuyển (như buổi sáng sớm/ hay lúc khuya muộn) tùy ngày
               </p>
               
             </div>
           </div>
         </div> <!-- the end column4 row 1 -->
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news5.jpg" alt="">
             <div class="caption">
               <h4>HOLIDAY DEALs CÙNG PHILIPPINE AIRLINES</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến mãi giờ bay ít người di chuyển (như buổi sáng sớm/ hay lúc khuya muộn) tùy ngày
               </p>
               
             </div>
           </div>
         </div> <!-- the end column5 row 1 -->
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news6.jpg" alt="">
             <div class="caption">
               <h4>Khám phá vẻ đẹp hoang sơ cao nguyên Vân Hòa - Đà Lạt thứ 2 thu nhỏ tại Phú Yên</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến mãi giờ bay ít người di chuyển (như buổi sáng sớm/ hay lúc khuya muộn) tùy ngày
               </p>
               
             </div>
           </div>
         </div> <!-- the end column6 row 1 -->
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news1.jpg"  alt="">
             <div class="caption">
               <h4>HOLIDAY DEALs CÙNG PHILIPPINE AIRLINES</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến mãi giờ bay ít người di chuyển (như buổi sáng sớm/ hay lúc khuya muộn) tùy ngày
               </p>
               
             </div>
           </div>
         </div> <!-- the end column7 row 1 -->
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news2.jpg"  alt="">
             <div class="caption">
               <h4>HOLIDAY DEALs CÙNG PHILIPPINE AIRLINES</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến 
               </p>
               
             </div>
           </div>
         </div> <!-- the end column8 row 1 -->
         <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
           <div class="thumbnail">
             <img src="images/news3.jpg" alt="">
             <div class="caption">
               <h4>HOLIDAY DEALs CÙNG PHILIPPINE AIRLINES</h4>
               <div class="eye">
                        
                        <p><span class="fa fa-calendar"></span>&nbsp; 19/2/2021
                        &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;5000</small>
                        </p>

                        </div>

               <p class="content">
                 Cuối tuần hay ngày Lễ/Tết không có giá rẻ, vé rẻ chủ yếu sẽ chỉ khuyến mãi giờ bay ít người di chuyển (như buổi sáng sớm/ hay lúc khuya muộn) tùy ngày
               </p>
               
             </div>
           </div>
         </div> <!-- the end column9 row 1 -->*@
       
      </div>
    </div>
    </div> <!-- the end row 1 -->
    
   