@model List<Policy>

@if(Model != null){
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" style="margin-top:5%"> CHÍNH SÁCH ĐẶT TOUR:</div>
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(@Model[1].Content))
            </div>
        </div>
    </div>
    
}