*{margin:0;padding:0;}

.baomat p i {
    font-size: 13px;
}

i.sao {
    color: red;
}

.luuthaydoi {
    width: 123px;
    margin-right: 3%;
    margin-top: 10px;
}

.huybo {
    margin-right: -8%;
    width: 86px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.doimatkhau p {
    font-size: 22px;
    font-weight: 500;
    padding-top: 32px;
}

.tenform {
    padding-top: 10px;
}

input.form-control {
    height: 39px;
}

.cangchinhform div.form-control {
}

.cangchinhform div.col-lg-8 {padding-bottom: 19px;}

.taokhung {
    background-color: white;
    border-radius: 12px;
    margin-top: 9%;
}