@model List<NewsTag>
<a class="btn btn-success" asp-action="Create">Create</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>News Id</th>
            <th>Tag Id</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NewsId</td>
                <td>@item.TagId</td>
            </tr>
        }
    </tbody>
</table>