@model List<NewsTag>
<a class="btn btn-success" asp-action="Create">Create</a>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>News Id</th>
            <th>Tag Id</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NewsId</td>
                <td>@item.TagId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsId"><i class="fa fa-edit"></i></a>
                    <a href="/dashboard/news/confirmdelete/@item.NewsId/@item.TagId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>