@model Role
<form method="post">
    <div>
        <label>Role Name</label>
        <input type="text" asp-for="RoleName"/>
    </div>
    <div>
        <label>Description</label>
        <input type="text" asp-for="RoleDesciption"/>
    </div>
    <div>
        <button>Save Changes</button>
    </div>
</form>