@model List<Role>
<a class="btn btn-success" asp-action="Create">Create</a>
<table class="table table-bordered" >
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Role Name</th>
            <th>Role Description</th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.RoleID</td>
                <td>@item.RoleName</td>
                <td>@item.RoleDesciption</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleID"><i class="fa fa-edit"></i></a>
                    <a href="/dashboard/news/confirmdelete/@item.RoleID"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>